.cards {
  font-family: "Inter", Arial, sans-serif;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin-top: 51px;
  margin-bottom: 67px;
}

@media screen and (max-width: 620px) {
  .cards__list {
    grid-gap: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .cards {
    margin-bottom: 48px;
    margin-top: 0;
    max-width: 282px;
    padding: 0 20px;
  }
}
