.cards {
  font-family: "Inter", Arial, sans-serif;
  margin-top: 72px;
  max-width: 880px;
  margin-left: 0;
  margin-right: 0;
}

.cards__list {
  max-width: 880px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 67px;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  max-width: 282px;
  min-height: 361px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__title {
  text-overflow: ellipsis;
  max-width: 219px;
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  font-family: "inter", Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Vector-1.svg);
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
