.footer {
  min-height: 18px;
  color: #545454;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #545454;
  margin-top: 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 620px) {
  .footer {
    padding: 0 19px;
    min-height: 14px;
  }
  .footer__copyright {
    max-width: 282px;
    min-height: 14px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
