.header {
  margin-bottom: 40px;
  border-bottom: rgb(84 84 84 / 0.7);
}

.header__logo {
  margin-bottom: 41px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 620px) {
  .header {
    margin: 0;
  }
  .header__logo {
    margin-bottom: 32px;
    margin-left: 27px;
    max-width: 126px;
    min-height: 24px;
  }
}
