.header {
  max-width: 880px;
  margin-bottom: 40px;
  margin-left: 200px;
  border-bottom: rgb(84 84 84 / 0.7);
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 320px;
    min-height: 24px;
    margin: 0;
    border: 1px solid rgb(84 84 84 / 0.7);
  }
  .header__logo {
    margin-bottom: 32px;
    margin-left: 27px;
    max-width: 126px;
    min-height: 24px;
  }
}
