.page {
  background-color: black;
}

.page__section {
  margin: 0 auto;
  max-width: 880px;
}

.page__content {
  color: #fff;
}

@media screen and (max-width: 620x) {
  .page {
    justify-content: center;
    flex-direction: column;
  }
  .page__content {
    margin-top: 28px;
  }
}
