.page {
  background-color: black;
}

.page__section {
  margin: 0 auto;
  max-width: 880px;
}

.page__content {
  padding: 0 20px;
  color: #fff;
}

@media screen and (max-width: 620x) {
  .page {
    justify-content: center;
    flex-direction: column;
  }
  .page__content {
    padding-left: 0;
    padding-right: 0;
  }
}
