.page {
  background-color: black;
  color: white;
  padding-top: 45px;
  padding-bottom: 60px;
  max-width: 1280px;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

@media screen and (max-width: 620x) {
  .page {
    justify-content: center;
    flex-direction: column;
    max-width: 320px;
    padding-top: 28px;
    padding-bottom: 36px;
  }
  .page__content {
    margin: auto;
  }
}
