.profile {
  display: flex;
  align-items: center;
  min-height: 120px;
  margin: auto;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 370px) auto;
}

.profile__name {
  font-family: "Inter", arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin-bottom: 7px;
  margin-top: 0;
  margin-left: auto;
  white-space: nowrap;
  max-width: 373px;
  min-height: 48px;
}

.profile__edit-button {
  background: transparent url(../images/Edit-Button.svg) center no-repeat;
  min-width: 24px;
  min-height: 24px;
  grid-area: button;
  margin-left: 18px;
  margin-bottom: 9px;
  margin-top: 15px;
  height: fit-content;
  border: 1px solid #ffffff;
  position: relative;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/Add-Button.svg) center no-repeat;
  margin-left: auto;
  color: #000000;
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  border-radius: 2px 0px 0px 0px;
  border: 2px solid #ffffff;
  position: relative;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
  min-height: 22px;
}

.profile__image {
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
  max-width: 120px;
  min-height: 120px;
}

@media screen and (max-width: 760px) {
  .profile__name {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    max-width: 373px;
    margin-top: 0;
    margin-bottom: 14px;
    margin-left: 0;
  }
  .profile__description {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
  .profile__edit-button {
    margin-right: 12px;
  }
}
@media screen and (max-width: 620px) {
  .profile {
    display: grid;
    padding-top: 0;
    margin-top: 42px;
    justify-content: center;
  }
  .profile__image {
    width: 169px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    text-align: center;
  }
  .profile__add-button {
    background: transparent url(../images/AddButton.svg) center no-repeat;
    margin: 0;
    max-width: 282px;
    min-height: 50px;
    margin-bottom: 36px;
    margin-top: 36px;
  }
  .profile__edit-button {
    min-height: 18px;
    min-width: 18px;
    height: fit-content;
    margin: 4px 15px 14px 10px;
    border: 1px solid #ffffff;
  }
}
